[2020-03-06 00:09] idgserpro commented on #499
@icemac maybe need to use a Python with `setuptools` installed, instead of using an egg installed with `ez_setup.py`. `ez_setup.py` is deprecated.

[2020-03-06 01:22] idgserpro commented on #487
`setuptools >= 45` no longer works with Python 2. See:

https://github.com/pypa/setuptools/blob/a5dec2f14e3414e4ee5dd146bff9c289d573de9a/CHANGES.rst#v4500

Can `buildout` force `setuptools < 45` for Python 2, or is that not the responsibility of the `buildout`?

[2020-03-06 14:30] gotcha commented on #487
When trying to fix Travis / run tests with GH actions, I bump into two issues:
- `setuptools.easy_install` command is deprecated since 42.0.0
- Python 2.7 deprecated since 45.0.0

And this is independent of the timeout issue.

I have started to speak to pypa team to understand what would be the right way to work around those two issues: https://github.com/pypa/setuptools/commit/b8101f06532b1deab44

[2020-03-06 14:35] gotcha commented on #499
@idgserpro There are buildout tests that demand to run in a Python environment without setuptools installed. But we might get there by using a `virtualenv`, installing `zc.buildout` then uninstalling `setuptools` before running the tests.

[2020-03-06 14:50] idgserpro commented on #487
@gotcha the Python 2.7 problem is independent of your conversation with the `setuptools` people, do you agree? It may be necessary pin `setuptools` 44.0.0 in all tests with Python 2.7, do you agree? And this isn't going to be an easy job.

[2020-03-06 15:39] gotcha commented on #487
@idgserpro Yes and no, the fix for Python 2.7 might depend on the fix needed to work around the `easy_install` deprecation. So I'd rather not make twice the not so easy job.

[2020-03-06 17:05] idgserpro commented on #487
@gotcha the `setuptools` people have already said that they will not guarantee that new versions will work with Python 2. Can this situation change? It doesn't make sense to me test the buildout with a version of setuptools that is no longer supported.

[2020-03-07 02:28] idgserpro commented on #499
@gotcha I thought just that. But I don't think `virtualenv` is necessary. The `buildout` tests compiles your own Pythons. Python 3 comes with `setuptools` already installed. We just need to remove the [without-ensurepip](https://github.com/buildout/buildout/blob/a2a3dd72611c7e04e4d205f96dacdef2c1657902/Makefile#L19) argument at the time of compilation. For Python 2, we can use `get-pip.py`, which

[2020-03-09 13:02] idgserpro commented on #499
@gotcha  it won't be that simple. The idea didn't work. It seems that the restart of the buildout only occurs if the `setuptools` is an egg, outside the site-packages. Using `setuptools` from site-packages, the buildout restart does not occur, and then a `setuptools` egg's isn't used. Therefore, we cannot uninstall `setuptools` from site-packages. I think it will be necessary to change the tests s

[2020-03-09 21:56] jaraco commented on #499
That's right - setuptools is trying to get out of the business of downloading or installing packages. If you can find a solution for those use-cases that relies instead on pip, you'll be happier for longer.

I don't understand what these tests are or what the restart functionality is. Why does restart functionality exist?

What is the target environment you're trying to create? Perhaps I could dem

[2020-03-09 22:01] reinout commented on #499
The restart functionality is for updating. Some version of setuptools and buildout is installed, then buildout is run, reads its config file and discovers a newer version of setuptools or buildout is needed. It grabs it and restarts. (At least, that's been my understanding).

Pip: the continuing problem is that pip doesn't have an API and doesn't want to have it. Unless something changed. So if yo

[2020-03-09 22:03] reinout commented on #499
As it is (or is becoming) standard practice to pip-install setuptools and buildout and *then* run buildout: it could be a good idea to remove part of the bootstrapping.

[2020-03-10 01:10] idgserpro commented on #499
@jaraco we are trying to create the "initial environment" for the tests, without using `ez_setup.py`, since, as the issue description says, it doesn't work for Python 3.9 (and probably for new versions of `setuptools`).  It's basically doing the [make build](https://github.com/buildout/buildout/blob/a2a3dd72611c7e04e4d205f96dacdef2c1657902/Makefile#L47-L48).

The dev.py script is executed with Pyt

[2020-03-11 02:20] jaraco commented on #499
Does [pip-run](https://pypi.org/project/pip-run) (tentatively slated for inclusion in pip) provide any inspiration for bootstrapping? In conjunction with the [runpy-invoke branch](/jaraco/buildout/tree/runpy-invoke), it becomes trivially easy to get a working bootstrap command running:

[code]

Presumably that invocation of buildout could install whatever versions of buildout or setuptools or what

[2020-03-13 04:44] idgserpro commented on #499
@jaraco `pip-run` cannot be used for bootstrapping of buildout. The buildout generates a script that uses the `zc.buildout` package path. This path must exist after bootstrap. I run:
[code]
The `/tmp/pip-run-SZj0bs` path doesn't exist after running the `pip-run`. We need to keep virtualenv alive after the bootstrap. We usually bootstrap like this:

[code]
requirements.txt:

[code]
buildout.cfg mus

[2020-04-17 09:15] krissik commented on #63
I have the same problem. In my buildout:

[code]

After running buildout there is

[code]
in my .installed.cfg and because of this the next buildout run fails with

[code]

I have buildout 2.13.3.

[2020-04-29 15:42] gotcha commented on #493
See #502 where I have removed dependency on `setuptools.easy_install`.

[2020-04-29 15:47] gotcha commented on #487
I managed to run the tests: see #502.
By chance, I found out that running the test suite in CentOS works much better.
I am looking for people with more expertise about innner Linux to explain what are the differences between CentOS and Ubuntu that justify the failures we see on Ubuntu.

That might help us to lessen the fragility of the test suite: it should not depend on a specific Linux distribut

[2020-04-29 17:04] mgedmin commented on #487
Well, Ubuntu inherits a lot of Debian changes to Python packaging (splitting bits of the stdlib into separate installable deb packages), installation layouts (using dist-packages instead of site-packages), unvendoring of bits of pip that tend to cause problems when people start upgrading them piecewise, and such.

But I thought zc.buildout's tests built their own Pythons from sources specifically

[2020-04-29 17:07] gotcha commented on #487
Right, the tests that were not passing on Ubuntu use their own Python built from source. And I kept it the same under CentOS

[2020-05-15 09:29] gotcha commented on #487
Together with deep review, @mgedmin gently nudged for running tests under Debian.

The test suite was also very slow/hanging on Debian. I took the plunge and dove deep enough to find the culprit. The suite has a speed hack that depends on an environment variable. That environment was named `buildout-testing-index-url` which includes `-`. For a reason or another, this does not work on current Debia

[2020-05-15 09:29] #487 closed

[2020-05-15 13:05] gotcha commented on #493
I opened #506 instead of #502

[2020-05-15 13:13] gotcha commented on #489
Works for me today.

[2020-05-15 13:13] #489 closed

[2020-05-15 13:16] gotcha commented on #486
Done

See https://travis-ci.org/github/buildout/buildout/builds/687356132

[2020-05-15 13:16] #486 closed

[2020-05-15 13:18] gotcha commented on #482
@brandsimon If you still need this feature, it should be easier to think how it could be implemented. See #506

I'd review a PR with pleasure.

[2020-05-15 13:19] gotcha commented on #481
@jugmac00 Would you make a suggestion how to improve the error message ?

[2020-05-15 13:21] gotcha commented on #478
@datakurre Is your fix stable enough that it deserves being added to `zc.buildout` ?

[2020-05-15 15:00] gotcha commented on #475
Should be possible with `fnmatch`. I might look into it. PR welcome anyway.

[2020-05-15 16:13] mgedmin commented on #481
How about something like

[code]
?

[2020-05-16 07:39] datakurre commented on #478
@gotcha I don't know. It seems that I have not been needing that patch for some time. Originally I needed it with some Plone-related nix-shell based development environment where Nix Python environment provided zipped setuptools version.

I am ok also for just closing this, because it seems that almost nobody else has seen this.

[2020-05-16 11:31] gotcha commented on #478
@Cykooz @eludum @encolpe Do you have a need for this ? An opinion on Asko's fix ?

[2020-05-16 13:17] encolpe commented on #478
I'm using his fix as a patch since one year.

[2020-05-16 14:42] datakurre commented on #478
Sounds like it is useful and robust then :)

[2020-05-16 21:27] encolpe commented on #478
Yes, I owe you a beer.

[2020-05-17 10:46] gotcha commented on #478
@encolpe How can I reproduce the issue ? In order to add a test...

[2020-05-17 12:53] Cykooz commented on #478
I'm using other workaround. I hardcode in my `bootstrap.py` file a version of `setuptools` that less than version used by any my project. For example, `bootstrap.py` is installing version 39.0 (this version will be installed as zipped egg-file). After that `./bin/buildout` will upgrade `setuptools` to newer version. New version will be installed as unzipped egg.

If bootstarp's version is equal to

[2020-05-17 13:14] gotcha commented on #499
Tests in 3.9 do run. #506 has been merged.

[2020-05-17 13:14] #499 closed

[2020-05-17 13:15] gotcha commented on #493
I merged #506.

[2020-05-17 13:15] #493 closed

[2020-05-17 13:17] gotcha commented on #469
@sandroden Do you still have the issue with recent `zc.buildout`?

[2020-05-17 13:17] #469 closed

[2020-05-17 15:41] gotcha commented on #478
@Cykooz iow, you only have the issue when using `bootstrap-buildout.py` ?

[2020-05-17 15:52] jamadden opened #507 "3.0a1: IndexError (possible wheel regression)"
When installing numpy-1.16.5, instead of getting the pre-compiled wheel, zc.buildout 3.0a1 is installing from source (this may be a regression from before, I think 2.x was getting the binary wheel before). Numpy fails to compile with some random error:
[code]

That then results in an IndexError from zc.buildout:
[code]

[2020-05-17 19:07] gotcha commented on #507
Thanks for testing so quickly. Which OS and Python version ? In case, it gets hard to reproduce.

[2020-05-17 19:32] jamadden commented on #507
2.7.18 on macOS.

`pip` installing numpy before running the buildout let it continue (I think, I still haven't been able to get the whole thing to complete successfully, but it's failing on other parts unrelated to this change, I believe).

[2020-05-17 20:25] gotcha commented on #507
Can you give more context ?
With the following simple buildout, I have no problem under 2.7.18, MacOS 10.13.6.

    [buildout]
    parts = numpy

    [versions]
    numpy = 1.16.5

    [numpy]
    recipe = zc.recipe.egg

[2020-05-17 22:40] Cykooz commented on #478
Yes, I have the issue only with `setuptools` installed by `bootstrap-buildout.py`.

[2020-05-18 07:48] gotcha opened #508 "CI in Debian containers misses jobs that use system Python rather than built from source"

[2020-05-18 07:49] gotcha opened #509 "sys.path ordering in scripts should also take development eggs in account"
IOW discriminate between devel eggs installed by buildout and packages installed in site-packages.

[2020-05-18 07:51] gotcha opened #510 "Requires-Python in 3.0.0a1 does double parsing of index pages."
Should be removed before final release.

[2020-05-18 07:52] gotcha opened #511 "pkg_resources.Distribution patch can be optimized further"
by caching `hashcmp`.

[2020-05-18 08:20] gotcha opened #512 "Hide pip deprecation warning under 2.7"

[2020-05-18 09:16] mgedmin commented on #512
Why?  2.7 is going away, it's good that the users get advance notice.

[2020-05-18 10:14] jamadden commented on #512
Those still using 2.7 are probably well aware that it's a deprecated version. They'd have upgraded already if they could. The warning from pip about that is not helpful.

[2020-05-18 10:16] jamadden commented on #507
In verbose mode, I get this:
[code]

So it seems its finding the source file in the local cache. Lets see what happens if I remove that...

[2020-05-18 10:19] jamadden commented on #507
Sure enough, without having the cached sdist locally, the binary wheel is downloaded:
[code]

[2020-05-18 10:49] gotcha commented on #512
And it is pretty noisy.

[2020-05-18 11:02] gotcha commented on #507
I rephrase to ensure I understand. An older buildout version downloaded sdist and it got cached in the download cache. And 3.0 uses that cached distribution rather than getting a proper wheel that is actually available.

This leads to the following questions :
- Should wheels always be preferred ?
- Why does install from source fails for numpy ?

[2020-05-18 11:03] gotcha opened #513 "Add proper error handling in `call_pip_install` to avoid `IndexError`"
User should get an explicit message showing why/how pip failed to install a package.

[2020-05-18 11:06] jamadden commented on #507
That seems to be what happened, yes. (I haven't run this particular buildout on this particular machine in a long time.)

I think so, yes. Regardless of local cache. That's what pip would do (in fact it only stores wheels in its local cache these days, IIRC, which probably side-steps a bunch of tricky issues).

Numpy is notoriously hard to build correctly in my experience. Lots of third party libr

[2020-05-18 11:15] mgedmin commented on #507
Hello?  Is nobody paying attention to

?

I'm not surprised building numpy 1.16.5 on Python 2.7.18 fails, if numpy 1.16.5 requires-python: >= 3.5.

[2020-05-18 11:17] mgedmin commented on #512
which provides motivation to upgrade sooner rather than only once things stop working entirely.

[2020-05-18 11:19] jamadden commented on #507
It [doesn't](https://pypi.org/project/numpy/1.16.5/). numpy 1.16.5 distributes many [binary wheels for Python 2.7](https://pypi.org/project/numpy/1.16.5/#files).

[2020-05-18 11:20] gotcha commented on #507
I agree the IndexError should not happen. See #513

I dug a bit more. If I run the following buildout with 2.13.3, it downloads a wheel:
`numpy-1.16.5-cp27-cp27m-macosx_10_9_x86_64.whl` (@mgedmin)

    [buildout]
    parts = numpy
    download-cache = download-cache

    [versions]
    numpy = 1.16.5

    [numpy]
    recipe = zc.recipe.egg

@jamadden Your issue seems to have a long history. I tend

[2020-05-18 11:21] gotcha commented on #513
User should get an explicit message showing why/how pip failed to install a package.

[2020-05-18 11:25] jamadden commented on #507
#513 is a good, actionable issue about error handling and `IndexError`, so I'm fine with that superseding this.

But what about sdist-in-cache-preferred-over-binary-wheel concern that was discovered during investigation of this? Are you suggesting that it's not likely to be a real problem and can be ignored? I…guess, maybe?

[2020-05-18 11:54] gotcha commented on #507
If I download the sdist and put it into the download-cache besides the weel, the wheel is preferred.

If I remove the wheel from the download cache, the sdist is used and built properly on my machine by both 2.13 and 3.0.

IOW, I suggest that good error reporting should enable the user to find a fix in a case like yours. If we find it is not the case, let's reopen.

[2020-05-18 11:54] #507 closed

[2020-05-18 12:00] gotcha commented on #512
When tackling this issue, I'll try to show the warning only once.

[2020-05-18 12:58] gotcha commented on #507
@jamadden Would you mind trying #514 PR on that particular machine ? And telling me if the reporting seems good enough ?

[2020-05-18 15:04] jamadden commented on #507
I'm having trouble duplicating the exact issue now, unfortunately. #514 seems like a good step to me.

[2020-05-18 16:37] #513 closed

[2020-05-19 12:25] ale-rt opened #515 "mr.developer issue with zc.buildout 3.0.0a1"
I tested zc.buildout with an existent virtualenv:
[code]
Then running buildout:
[code]

Then I tried:
[code]

Then I rerun buildout once: at first it failed with the same `ValueError: ('Invalid option', '--')`.
The second time I rerun it worked.

[2020-05-20 02:47] idgserpro commented on #499
@gotcha what happened to these tests?

[2020-05-20 09:29] gotcha commented on #499
@idgserpro The statement hereabove should have been: the test suite demands to run in a Python environment without setuptools.

Which is not the case anymore in master. I am not sure I understand why it was needed before. Maybe to test `bootstrap-buildout.py`... which is gone now.

[2020-05-20 09:45] mgedmin commented on #499
AFAIR Jim Fulton always distrusted distro-packaged Pythons because they did things like split off parts of the stdlib into a separate package (python-profiler), not installed by default and such.  He was a proponent of always building your own Python from upstream sources for production use.  (In fact the first prototype of buildout, before it was zc.buildout, built a Python for you, always, uncon

[2020-05-20 09:54] gotcha commented on #499
FTR, current master still provides a way to run tests against Python built from source.

CI runs tests both against Python from source (in CentOS and Debian containers, in Travis and GitHub) and against GitHub provided Python setups.

[2020-05-21 09:24] gotcha commented on #515
I think this is a bad interaction between mr.developer and the code I added to protect against endless loop when upgrading.

[2020-05-21 09:46] gotcha commented on #515
I opened a PR to make `mr.developer` compatible with `buildout==3.0` : https://github.com/fschulze/mr.developer/pull/199

[2020-05-21 09:47] gotcha commented on #511
see #516

[2020-05-21 10:37] ale-rt commented on #515
Wow! Thank you so much :)

[2020-05-21 11:18] #511 closed

[2020-05-21 12:43] gotcha opened #519 "Use towncrier"
to avoid changelog conflicts when merging PRs

[2020-05-21 12:49] jamadden commented on #519
I've just switched to towncrier for gevent. I like it, but it takes [some hooks](https://github.com/gevent/gevent/blob/6e274a5c3d24b893889d97e22408f5d99f75b92b/setup.cfg#L4-L10) to make it play well with zest.releaser.

It now occurs to me I'm not sure how this package does releases...

[2020-05-21 13:49] #512 closed

[2020-05-21 13:52] mgedmin commented on #519
I'm sure zest.releaser would be open to a PR for better towncrier integration out of the box?

[2020-05-21 14:28] gotcha opened #521 "custom.rst test disabled in Windows run"
check if it could be reenabled

[2020-05-21 23:08] gotcha commented on #519
@jamadden Do you use zest releaser.towncrier ?

[2020-05-22 05:06] perrinjerome opened #522 "develop directories does not ignore changes in .git"
When using a git checkout for a develop directory, like ` /path/to/develop_recipe`  in this sample buildout:

[code]

buildout will calculate the signature of the develop recipe from the files contained in this directory, this is implemented here:

https://github.com/buildout/buildout/blob/16ea8e6a8dccde21b853ca2ce5cf5c9c9e5b59de/src/zc/buildout/buildout.py#L1838

this knows how to ignore subversi

[2020-05-24 16:56] #522 closed

[2020-05-24 17:34] #509 closed

[2020-05-25 08:14] gotcha commented on #508
done in 6b3c226ae86b31a5046e0af19217caa62dbfc363

[2020-05-25 08:14] #508 closed

[2020-05-25 08:16] gotcha commented on #456
I changed `Makefile` a lot for 3.0. And I work on MacOSX. Issue gone AFAIK.

[2020-05-25 08:16] #456 closed

[2020-05-25 08:20] gotcha commented on #453
This seems to be a bad interaction with `zc.recipe.egg==1.3.2`. I'll close by declaring it outdated. Reopen if you know I am wrong !

[2020-05-25 08:20] #453 closed

[2020-05-27 03:12] idgserpro commented on #289
@gotcha  removed `bootstrap.py`. I still see some references to it in the code:

https://github.com/buildout/buildout/search?q=bootstrap.py&unscoped_q=bootstrap.py

But it doesn't seem to be very relevant.

Now the new [dev.py](https://github.com/buildout/buildout/blob/master/dev.py) seems do something very similar to `bootstrap.py`. Couldn't it be available in an url like `bootstrap.py` it used t

[2020-05-27 07:44] gotcha commented on #289
@idgserpro Thanks for pointing to places where bootstrap still needs to be cleaned up.

Do you really need a new `bootstrap.py` if you can install with `pip install zc.buildout` ?
I am not sure I understand.

[2020-05-27 12:18] idgserpro commented on #289
@gotcha in a Python 2 compiled by the source (which doesn't come with pip installed), it could install pip and run `pip install zc.buildout`. But after your question, I thought better of it and agree that a new bootstrap is not necessary. Python 2 is dying and I can execute the commands myself. It's not necessary have a script that does this for me. Sorry by the noise.

Regarding references to `bo

[2020-05-27 13:43] gotcha commented on #289
@idgserpro Being very used to buildout makes it hard for me to find out if any useful info should be migrated from old-tutorial to current documentation. Would there be someone with less experience in your team that could help us with this ?

[2020-05-27 13:58] idgserpro commented on #289
@gotcha unfortunately not. But I see that it is out of date (especially now with buildout 3) and is in txt, which makes reading more difficult. I really don't think it helps much.

[2020-05-29 13:58] k-bu opened #525 "'+=' syntax not working for buildout:extensions when setup in default.cfg"
Hi,

when I globally activate extension(s) in the ~/.buildout/default.cfg file like this:
[code]

..but also use project specific extension(s) in some buildout.cfg files like this:
[code]

..then only some.extension.b gets loaded. Thus some.extension.a only gets loaded when buildout.cfg files do not contain any buildout:extensions values at all. Tested with zc.buildout 2.8.0 and 2.13.3. Is it a kn

[2020-05-29 14:01] ale-rt commented on #525
Shouldn't it be:
[code]

[2020-05-29 14:03] k-bu commented on #525
Sorry, I fixed the description.. I've tested with "extensions" not with "extension".

[2020-05-29 14:06] k-bu commented on #525
PS: Just In case you meant the linebreak, I've also tested it like this right now:

[code]

Still no success.

[2020-05-29 14:12] ale-rt commented on #525
I believe you have to give more informations, the feature seems to work correctly for me:
[code]
Check what buildout annotate says, e.g.:
[code]

[2020-05-29 14:29] k-bu commented on #525
Thank you for the quick investigation!
I see, it indeed works when including other cfg files via extends.
I placed the full path to my default.cfg into the 'extends' of my buildout.cfg and it worked.
Thus the issue title still seems to be right, about the feature not working just with the default.cfg?

[2020-06-16 12:36] gotcha commented on #525
I am not able to reproduce - here with `extends:base.cfg` but also works for me with the simple case :

    [build525]$ cat ~/.buildout/default.cfg
    [buildout]
    extensions = buildout.requirements
    dump-requirements-file = requirements.txt
    overwrite-requirements-file = true
    [build525]$ cat base.cfg
    [buildout]
    extensions += mr.developer
    [build525]$ cat buildout.cfg
    [

[2020-06-16 12:49] gotcha commented on #525
I added tests in https://github.com/buildout/buildout/tree/fix-525
They all pass on my machine. (I should have tried to reproduce first...)
Let's see if they also pass on CI

[2020-06-16 15:18] k-bu commented on #525
Thank you too for the investigation. I just wanted to let you know, that I'm still confused why I also can't reproduce it like that right now.  And why Alessandro also could reproduce it on that day. I guess it's not because of solar storms.
Although I can still reproduce it right now in my buildout setup which is more complex. I'll report back once I find out the difference that seems to break it

[2020-06-16 16:37] k-bu commented on #525
OK, here's an example. You should be able to reproduce it like that:
[code]
I guess the point is, that the base.cfg eats up default extensions somehow, when it contains a [buildout] section. It doesn't happen, if it doesn't contain a [buildout] section.

[2020-06-19 13:29] idgserpro opened #526 "Develop distribution: my.package 1.0.dev0 uses namespace packages but the distribution does not require setuptools."
If a development package uses namespace packages but doesn't depend on setuptools, I get this message:

[code]

This message is shown here:

https://github.com/buildout/buildout/blob/e3ee34e874c67fef221ae8eaa1569606cbcc0808/src/zc/buildout/easy_install.py#L641-L649

It seems that buildout inserts `setuptools` as a dependency, if it isn't a package dependency in install_requires.

This behavior is

[2020-06-19 16:21] gotcha commented on #526
I think (but am not sure) that `setuptools` is still needed for namespace packages under Python 2.7.

[2020-06-19 17:10] idgserpro commented on #526
Well, I ignored the `_maybe_add_setuptools` method and run the buildout and everything went well. This with Python 2.7.

I find it strange to have to declare setptools as dependence in the package, if I don't use it. setptools is a dependency on installation time. It already has to be available to be able to install. After that I don't need it anymore. Outside the Zope/Plone world hardly anyone de

[2020-06-19 19:56] mgedmin commented on #526
FWIW `pip install` injects setuptools even if you don't ask for them.  I wonder if zc.buildout's recent switch on top of pip rather than easy_install makes the setuptools requirement no longer strictly necessary?

[2020-06-23 00:40] recruiter2021 opened #528 "infinite loop"
when I follow the instructions here:  https://github.com/cyrilrbt/canadian-nutrient-file

[code]
on the line
[code]
I get an infinite loop:
[code]
The repo owner is unresponsive and I am kind of new to buildout.
It is a flask app that imports CSV files to a MongoDB.

[2020-06-23 00:41] nyck33 commented on #528
sorry that was my other account.
What can I do?

[2020-06-23 00:42] nyck33 commented on #528
Here is the error trace:
[code]

[2020-06-23 06:19] icemac commented on #528
Try `bin/buildout -N` which advises buildout not to upgrade to a new version.

[2020-06-23 09:40] mauritsvanrees commented on #528
Also, `bootstrap.py` as not really recommended anymore (at least by me).
Instead of `python3 bootstrap.py` you can use a virtualenv and install the exact buildout version that is requested:

[code]

(Depending on which `bootstrap.py` you have, it may have a similar option, use `python3 bootstrap.py --help` to check.)

[2020-06-23 14:01] gotcha commented on #528
FYI, there is a new alpha version of `buildout` that tries to solve that issue, among others.
It depends on `virtualenv` and `pip` instead of `bootstrap.py`.
And it works, at least on my machine:

    $ git clone https://github.com/cyrilrbt/canadian-nutrient-file.git
    $ cd canadian-nutrient-file/
    $ virtualenv-2.7 .
    $ bin/pip install zc.buildout==3.0.0a2
    $ bin/buildout # properly use

[2020-06-23 18:44] nyck33 commented on #528
I forgot to mention I'm using conda env instead of virtualenv but I am progressing.  These are the processes I followed:

[code]
The last step gave a warning
[code]
But I proceeded to run
[code]
Which gave output that looks normal:
[code]
But then when I tried to run the import:
[code]
I got an error telling me the directory does not exist:
[code]
I double checked and it is there.  It works fine t

[2020-06-24 00:34] nyck33 commented on #528
Sorry, it worked with the full path.  Thanks for your help.

[2020-06-25 06:23] icemac commented on #528
@nyck33 So your problem is solved now and this issue can be closed?

[2020-06-28 01:30] recruiter2021 commented on #528
Yes thanks Michael.

On Wed, Jun 24, 2020 at 11:24 PM Michael Howitz <notifications@github.com>
wrote:

--
Regards,

Nobutaka Kim

B Comm (UBC, 1999), ACE Certified Personal Trainer, TEFL Certified
Tel: 16047861626

[2020-06-28 21:23] #528 closed

[2020-07-20 10:20] dataflake opened #529 "Warning on Python 3.8 due to distutils import"
Any script built with `buildout` under Python 3.8 (und running the buildout itself as well) will generate a warning under Python 3.8 (tested with 3.8.4):

[code]

The warning results from an import in `easy_install.py` at https://github.com/buildout/buildout/blob/cb6620ea91e767ae83648a7c679bb83d1282e077/src/zc/buildout/easy_install.py#L29

[2020-07-31 00:27] nyck33 opened #530 "When used with Flask, how do I update templates?"
https://github.com/cyrilrbt/canadian-nutrient-file

is the repo I cloned.  I want to make changes to the templates but they are not reflected even upon restarting the server.
[code]
That is the project tree.  Is there a rebuild command after making changes to templates or any other code that needs to be run?
I have not changed the configuration from the default in the repo.
[code]

[2020-07-31 06:13] icemac commented on #530
Making changes in the project code or the templates should not require a rebuild.
The only thing you can try – where `zc.buildout` is involved – is to run: `bin/buildout`

[2020-07-31 07:11] nyck33 commented on #530
[code]
The above error trace is what I get.

[2020-07-31 10:36] mauritsvanrees commented on #530
From the traceback, buildout is trying to upgrade or downgrade itself to version 2.9.4, but some other package requires at least zc.buildout 2.12.0.
So as first step, edit the [versions file](https://github.com/cyrilrbt/canadian-nutrient-file/blob/master/versions.cfg#L21) and change the line to `zc.buildout = 2.12.0`.
Or better use the most recent version: `zc.buildout = 2.13.3`. That version also

[2020-07-31 17:13] nyck33 commented on #530
All went well until,
[code]

[2020-07-31 17:40] jamadden commented on #530
`Feature` was [removed from setuptools earlier this year](https://github.com/pypa/setuptools/issues/65). You'll either need an older setuptools, or a newer MarkupSafe. Newer versions of MarkupSafe distribute binary wheels so they're easier to install.

[2020-08-02 18:51] nyck33 commented on #530
[code]

[2020-08-02 20:13] nyck33 commented on #530
@jamadden @mauritsvanrees
Thanks guys, it seems to rebuild now but the templates still stay the same: https://github.com/nyck33/eco_gamechanger/blob/master/cnf/templates/index.html.
What is weird is that views.py shows:
[code]
But index.html looks different:
[code]

I tried just inserting a simple `<p>hello</p>` near the top which does not appear.

[2020-08-02 20:54] jamadden commented on #530
It’s not clear to me that this has anything to do with buildout anymore.  Buildout is an installer, not a web framework.

[2020-08-02 21:39] nyck33 commented on #530
That is true.

[2020-08-02 21:39] #530 closed

[2020-09-09 17:53] domdfcoding commented on #529
There are 4 locations in the code where distutils gets imported, and a further three in the tests.

Setuptools has (or is about to) adopted distutils, and most of distutils functionality should be available through setuptools. I couldn't find a mapping of distutils functions to their setuptools equivalents however, so ¯\_(ツ)_/¯ I wouldn't know where to start.

Another potential issue is that build

[2020-09-13 03:56] nyck33 opened #531 "We don't have a distribution for wheel and can't install one in offline (no-install) mode."
My app here:  https://github.com/nyck33/canadian-nutrient-file

On Windows when I try to run:
[code]
I get:
[code]
Also in general is running buildout after any changes to my code the correct thing to do?
I'm still learning buildout from the docs.

[2020-09-15 13:36] luffah opened #532 "How to diagnose 'eggs' versions conflicts and to freeze dependencies"
Hello,

  using buildout for many projects and i often encounter issues when :
  - adding a package
  - using a buildout config file (to install in production environment) some months after the original setup

  In both case, it appears when dependencies of zc.recipes conflicts with additional packages.

  Is there some option to get a freeze , dry-run, or anything that could help to detect (and f

[2020-09-15 15:28] mauritsvanrees commented on #532
The basis is knowing what packages you have that are 'picked', in other words: packages for which there is no version pin in the buildout config, but Buildout picks a version, usually the latest.
To know this, I have this in most buildout configs:

[code]

With `allow-picked-versions = false` you disallow Buildout to pick a version. If Buildout sees it needs to install a package and there is no ve

[2020-09-16 10:37] luffah commented on #532
fine :)

[2020-09-22 01:05] #531 closed

[2020-09-22 01:05] nyck33 commented on #531
Ubuntu now

[2020-09-22 05:59] icemac commented on #444
@gotcha Is this a decision valid for the whole project? Should it be documented in the repository so the question is not asked over and over again?

[2020-09-29 12:36] gotcha commented on #444
@icemac I do not have any authority to decide. My answer above seemed pragmatic and constructive.

@idgserpro I am sorry I failed to commit those changes I suggested I would apply myself. Do you still need the changes to be applied ?

[2020-09-29 18:56] idgserpro commented on #444
In fact, [these changes](https://github.com/buildout/buildout/issues/444#issuecomment-508241803) are intended for poor souls in the future that may came across legacy systems and need to migrate.

But since Python 2.x isn't oficially supported anymore... If someone gets by such legacy system by now, rough edges are expected. It's up to you. Thanks!

[2020-09-30 06:26] icemac commented on #444
I asked the question on the Plone community board: https://community.plone.org/t/buildout-project-and-the-plone-foundation/12917 Let's see if there are any answers.

[2020-10-01 12:09] gotcha commented on #444
@icemac asked about the Contributor Agreement on community.plone.org.

@jensens said he thought it was not needed. I contacted @jimfulton that confirmed.

[2020-10-01 12:29] gotcha opened #537 "buildout organization management"
In the context of #444 and https://community.plone.org/t/buildout-project-and-the-plone-foundation/12917, I checked who is currently in charge of the buildout organization.

I found that there are currently three owners: @jimfulton @hannosch and @reinout

AFAIK, none of them still really uses buildout.

I mentioned this when I contacted @jimfulton. He answered that it might be better to pass the k

[2020-10-01 12:44] jamadden commented on #537
I, and my group, are highly dependent on buildout, so I'd be happy to continue contributing.

[2020-10-01 13:26] #532 closed

[2020-10-01 13:46] gotcha commented on #526
@idgserpro can you try with buildout 3.0.0a2 to see if the issue is gone like @mgedmin suggests ?

[2020-10-01 14:23] gotcha commented on #531
To answer your question above, no, you do not need to run buildout each time you change your code. Usually, it is only when you specified a new dependency or a new version of a dependency. HTH

[2020-10-01 14:30] mauritsvanrees commented on #537
I would like to be a part of this too. I have hardly contributed any code to Buildout, but with Plone I *am* a heavy user since years.

[2020-10-01 15:04] idgserpro commented on #526
@gotcha I tried with version 3.0.0a2 but got error #515.

[2020-10-01 15:15] gotcha commented on #526
@idgserpro The fix for #515 will come soon in a new release. I'll let you know when released.

[2020-10-01 15:21] idgserpro commented on #526
@gotcha I escaped error #515 by removing `mr.developer`. Even in version 3.0.0a2 I still receive the message from that issue.

[2020-10-01 17:36] idgserpro commented on #444
@gotcha Thanks for the clarification. Since the motivation of the issue was the question answered in https://github.com/buildout/buildout/issues/444#issuecomment-702090411, can we close it?

[2020-10-01 17:40] idgserpro commented on #444
If so, I think it's a good idea to put this information in the README as well.

[2020-10-02 07:47] mgedmin commented on #537
I can be a backup owner if you still need one, but I only have one app that still uses buildout in production, and it's in deep maintenance mode.

[2020-10-02 13:28] icemac commented on #537
My company uses buildout for nearly all projects, so we heavily depend on it. I agree to become an owner.

[2020-10-04 15:26] idgserpro commented on #526
@gotcha I think I understand now. Packages that use namespace need an `__init__.py` with:

[code]

So they need `pkg_resources` that is, `setuptools`. For example:

https://github.com/collective/collective.cover/blob/master/src/collective/__init__.py#L1

The warning then makes sense. I will close the issue.

[2020-10-04 15:26] #526 closed

[2020-10-13 21:02] NicolasGoeddel opened #539 "New Feature: List all keys when querying section and inheritance"
Hi,
to automatize some of my build processes I would like to add a small feature to the `query` command at this line:
https://github.com/buildout/buildout/blob/master/src/zc/buildout/buildout.py#L1300
Could we replace that line with this:
[code]
This would give the possibility to list keys you may not know. For example in the `sources` section I am not able to list all the sources. With the presen

[2020-10-13 21:35] NicolasGoeddel commented on #539
At the moment I am using a bash function like this to achieve a recursive search for options. `annotate` was too complex to parse, so I decided to run a query multiple times to find the option I need if there is inheritance.
[code]

[2020-10-19 17:31] grant-humphries opened #540 "Can `working_set` factor in the [versions] config section?"
Hi folks,

I have a recipe that uses the [`working_set`](https://github.com/buildout/buildout/blob/db3d6e2fbf5d7ff2cc4b2507253c7a221cfc3e32/zc.recipe.egg_/src/zc/recipe/egg/egg.py#L61) method from `zc.recipe.egg`.  In this recipe I fetch the file paths for all of the packages picked by Buildout via the working_set method and write them to a file.  Here is a simplified version of the Buildout confi

[2020-11-20 20:34] gotcha commented on #537
@jimfulton gave owner role to @jamadden and me.

@icemac, I did the same with you.

@mauritsvanrees I invited you with the same role.

[2020-11-23 22:22] gotcha commented on #537
We have a new set of owners.

[2020-11-23 22:22] #537 closed

[2020-12-01 16:22] abh23 opened #541 "Trying to install Odoo 12/13 using buildout"
Hey guys,
I am fairly new to Odoo world and I am trying to automate its installation along with 3rd party/custom addons using a standard procedure. I had previously written a few Ansible playbooks to install Odoo 11,12 and 13 versions but now my requirement is to also install custom/OCA addons during installation.

I came across "buildout" and it has all the feature. The only part lacking that I f

[2020-12-01 16:30] goschtl commented on #541
Can you provide a full traceback...

Am Di., 1. Dez. 2020 um 17:22 Uhr schrieb Amit Bhardwaj <
notifications@github.com>:

--
Mit freundlichen Grüßen
Christian Klinger
ck@novareto.de
0172-8139138

[2020-12-01 17:04] abh23 commented on #541
Hi. So, I have retried and it seems to have given a new error.

`root@ubuntu18-base:/home/ubuntu# bin/buildout
Found command 'git' at '/usr/bin/git'
https://github.com/anybox/anybox.recipe.odoo
Clone in ./a.r.odoo exists, and has correct URL (https://github.com/anybox/anybox.recipe.odoo)
Updating ./a.r.odoo clone (to master)
1.9.2b1
a.r.odoo-1.9.0
a.r.odoo-1.9.1
a.r.openerp-1.9.0
c7042b84c0120de70

[2020-12-01 17:09] abh23 commented on #541
And I have found a reference to the error at https://github.com/anybox/anybox.recipe.odoo/issues/126

[2020-12-01 17:15] abh23 commented on #541
After adding required version of `werkzeug==0.16.1` in buildout.cfg, I got these generated as well:

- Generated script '/home/ubuntu/bin/gevent_odoo'.
- Generated script '/home/ubuntu/bin/start_odoo'.
- Generated script '/home/ubuntu/bin/upgrade_odoo'.

When I try to start odoo using bin/start_odoo, I am getting this error:

[code]
Any suggestions there?

[2020-12-01 17:20] jugmac00 commented on #541
This does not look like a buildout problem, but a problem of the recipe.

I suggest you create an issue at https://github.com/anybox/anybox.recipe.odoo

[2020-12-01 17:20] goschtl commented on #541
Hi, I am not an expert of odoo.
But you have to add zope.event to setup.py or in buildout eggs section

Am Di., 1. Dez. 2020 um 18:16 Uhr schrieb Amit Bhardwaj <
notifications@github.com>:

--
Mit freundlichen Grüßen
Christian Klinger
ck@novareto.de
0172-8139138

[2020-12-01 17:22] abh23 commented on #541
I actually tried that but no luck. Trying something else.

[2020-12-01 17:23] abh23 commented on #541
Ok. Surely, I will. Thanks for the pointer. I have some part working atleast.

[2020-12-07 12:50] gotcha commented on #541
Closing as there is a proposed fix in https://github.com/anybox/anybox.recipe.odoo/issues/133

[2020-12-07 12:50] #541 closed

[2021-02-01 07:25] icemac opened #543 "setuptools 52.0.0 breaks buildout 2.13.3 installs"
In https://github.com/pypa/setuptools/commit/2885ca26494e6f555fae85f8f9983c2361c93829 `setuptools.command.easy_install.main` was removed.
It seems to be needed for a successful installation using buildout 2.13.3, so CI of various packages breaks, e. g.

* https://gitlab.com/gocept/union.cms/products.orderedbtreefolder/-/jobs/998458181
* https://github.com/zopefoundation/Products.ZCatalog/runs/1801

[2021-02-01 07:47] icemac commented on #543
It seems that `setuptools` dropped `easy_install` in favor of using `pip`. (See https://github.com/pypa/setuptools/pull/2544)
Installing wheels does not seem to have this problem, so only packages without a wheel (like `zc.recipe.egg`) seem to be affected.

[2021-02-01 07:53] icemac commented on #543
Maybe it's time to depreciate `zc.buildout 2.x` and get version 3 final. What is still open to call a next release of version 3 a final one?

[2021-02-01 07:53] icemac commented on #543
cc @gotcha

[2021-02-17 09:38] jugmac00 opened #544 "buildout 2.13 fails to use wheels on Python 3.7 (works for Python 3.8)"
[code]

[code]

[code]

My **workaround** - I will upgrade my app to Python 3.8.

[2021-02-17 10:15] jugmac00 commented on #544
**Update**
Above Python 3.7 failure was on Nixos with Python 3.7.4.

On my local developer box I run Ubuntu with Python 3.7.9 and I experienced no problems.

[2021-02-17 10:22] goschtl commented on #544
Hi Jürgen

are you made sure: that you have a recent version of setuptools in your Python 3.7.4.

Christian

[2021-02-17 11:47] jamadden commented on #544
pyca/cryptography now uses [pyproject.toml to declare a build-time dependency on `setuptools-rust`](https://github.com/pyca/cryptography/blob/main/pyproject.toml#L9).

I'm not sure that the old `easy_install`-based code understands anything about `pyproject.toml`.  Have you tried using the pip-based version in buildout 3.0a2?

[2021-02-17 11:49] goschtl commented on #544
it works with the new buildout.

Am Mi., 17. Feb. 2021 um 12:47 Uhr schrieb Jason Madden <
notifications@github.com>:

--
Mit freundlichen Grüßen
Christian Klinger
ck@novareto.de
0172-8139138

[2021-02-17 12:50] jugmac00 commented on #544
Bingo!

Manually installing `setuptools==51.3.3` into my minimal venv fixed the problem.

Manually downgrading to `setuptools==40.6.2` triggered the problem again.

Using `setuptools==51.3.3` for my app also solved the problem.

Thanks a lot @goschtl - I even did not remotely think of updating setuptools, though I heard of problems with different setuptools/buildout combinations, but maybe I was j

[2021-02-17 12:52] jugmac00 commented on #544
I just saw

https://github.com/buildout/buildout/blob/db3d6e2fbf5d7ff2cc4b2507253c7a221cfc3e32/setup.py#L49-L53

Does it make sense to raise the required setuptools version to one which does not break?

[2021-02-17 16:18] icemac commented on #544
We could update it to a newer version. The 2.13.x versions should also have a maximum version of `< 52` (the version which dropped support for `easy_install`.

[2021-02-17 19:01] jugmac00 opened #546 "bootstrap process is broken for Python 2.7"
The problem seems to be that when you download https://bootstrap.pypa.io/get-pip.py and run `python2.7 get-pip.py`, this results in

[code]

_Originally posted by @jugmac00 in https://github.com/buildout/buildout/issues/545#issuecomment-780755469_

[2021-02-17 19:02] jugmac00 commented on #546
So, when you currently use `get-pip.py` you get a file with the following comment at the top

pip 21 dropped Python 2 support.

The problem is in `dev.py`

[code]

This needs an additional argument `"pip < 21.0"`, at least for Python 2.7, see
https://github.com/pypa/get-pip#usage

I'll create another PR tomorrow to fix this unrelated problem.

[2021-02-18 14:57] mgedmin commented on #546
I think people who still use 2.7 are supposed to use `https://bootstrap.pypa.io/2.7/get-pip.py`.

I see a subdirectory for every EOLd Python version at https://bootstrap.pypa.io/, and I suspect similar problems exist for e.g. Python 3.5.

I wonder if it might be a good idea to try urlopen('https://bootstrap.pypa.io/%d.%d' % sys.version_info[:2]) and fall back to the top-level get-pip.py if the fir

[2021-02-18 15:37] wesleybl commented on #546
Maybe an install_requires based on python version:

[2021-02-18 15:43] wesleybl commented on #546
Ops. virtualenv already installs pip <21 if you're using Python 2. So I don't think that's necessary.

[2021-02-19 07:36] jugmac00 opened #548 "create development roadmap and clean up stale branches"
As a drive-by contributor, I had no chance to figure out on my own where I should contribute code changes to.

There is neither a little paragraph in the developers.txt which describes the current two development lines (master + 2.x), nor does it help the occasional contributor that there are almost 30 branches in this repo.

Also, the last release of version 3 alpha was almost a year ago. What is

[2021-02-20 09:58] #546 closed

[2021-02-20 15:26] jugmac00 commented on #543
Given the dropped support of `easy_install`, pushing a version 3 release is the only way forward - imho.

[2021-03-02 14:56] fschulze opened #550 "buildout 3.x: requirements with extras fail with version constraints"
This cfg fails to install with zc.buildout 3.x but works with 2.x:

[code]

I think [``_constrained_requirement``](https://github.com/buildout/buildout/blob/master/src/zc/buildout/easy_install.py#L1620) needs to remove the extra part before calling ``pkg_resources.Requirement.parse``.
Currently the ``requirement`` passed in is ``Requirement.parse('zc.buildout; extra == "buildout"')`` with no ``spe

[2021-03-02 18:36] jugmac00 commented on #543
Fixed by #549

[2021-03-02 18:36] #543 closed

[2021-03-02 18:39] jugmac00 commented on #544
Looks like this won't be fixed for the 2.13 line.

see https://github.com/buildout/buildout/pull/549#issuecomment-784918465

I'd vote to keep this open - as very likely more people will encounter this problem.

I am not entirely sure whether there will be stil problems on version 3.

I will try buildout 3 tomorrow.

[2021-03-03 06:55] jugmac00 opened #551 "new 2.13 release"
After fixing #549 a new release would be very welcome.

For the upcoming tox4 release in May 2021, I am currently running tox on all Zope and Plone repositories ( https://github.com/zopefoundation/meta/issues/66 ).

One of the reasons for a failure on tox4 is, that tox4 will do isolated builds by default, which basically means, it uses virtualenv and thus a too new setuptools version will be pulle

[2021-03-03 07:13] icemac commented on #543
Hm, should we create a new release now or is there something else to do on the `2.x` branch?

[2021-03-03 07:23] jugmac00 commented on #543
Yes, please! see #551

[2021-03-03 16:12] icemac commented on #551
Starting to cut a release now.

[2021-03-03 16:52] icemac commented on #551
See #552 which tries to fix the tests on GHA.

[2021-03-04 09:31] jugmac00 commented on #551
Hi @icemac

I am sorry you have so much trouble to cut a release.

I thought you just need to build and upload a new package.

My - not very relevant take on this - get this release out, so we do not have breakages all over the ecosystem because of the missing upper restriction of the `setuptools` version, and then put all focus on the `buildout` version 3 development.

[2021-03-05 11:16] #525 closed

[2021-03-05 13:00] gotcha commented on #539
@NicolasGoeddel Would you feel like making a PR for your proposal ? It would need some tests. I would be happy to support you if you wish.

[2021-03-05 13:22] k-bu commented on #525
Thanks a lot for fixing this one. I see it went into master, so I guess there's no chance it'll be fixed for Buildout 2.x too?

[2021-03-06 13:14] NicolasGoeddel commented on #539
I have to dig into that functionality again. But yes, theoretically I can do that. I will see that I find time for that.

[2021-03-07 08:35] #550 closed

[2021-03-07 08:52] fschulze commented on #550
Fix confirmed. The buildout works with current git checkout.

[2021-03-07 11:37] gotcha commented on #550
Released in https://pypi.org/project/zc.buildout/3.0.0b1/

[2021-03-07 11:39] gotcha commented on #551
Repeating what I wrote on #552

Is it absolutely needed to have passing CI for a new 2.13 release ? IIRC, fixing `dev.py` for master took me a lot of time last spring. A middle ground could be to cut a 2.13.4b1 beta release before a final 2.13.4. This way, people could test the new `setuptools` pinning without breaking all setups.

BTW, I have just cut a new release for 3.0: https://pypi.org/proje

[2021-03-07 11:44] gotcha commented on #525
Running 2.x tests under CI is a nightmare. Reason why I am reluctant to try to backport.
I just cut a new 3.0 release. I think it would be worth testing it. https://pypi.org/project/zc.buildout/3.0.0b1/

[2021-03-07 11:46] gotcha commented on #548
PR welcome for both expanding `developers.txt` and a `CONTRIBUTING.md`.

I have cut a new 3.0 release. https://pypi.org/project/zc.buildout/3.0.0b1/

I do think that it is very usable. And yes the Plone community could be helpful in testing it.

[2021-03-07 11:56] gotcha commented on #540
Did you check/debug into `zc.buildout.easy_install.scripts` ? That might help you to understand when/how the `versions` data is used.

Version constraints are applied through calls to `zc.buildout.easy_install._constrained_requirement`.

Good luck

[2021-03-07 12:01] gotcha commented on #515
https://pypi.org/project/zc.buildout/3.0.0b1/ comes with a fix: #536.

@ale-rt, feel free to reopen if it is not the case.

[2021-03-07 12:01] #515 closed

[2021-03-08 07:27] icemac commented on #551
@gotcha Thank you for working on `buildout 3`!

Meanwhile I just released https://pypi.org/project/zc.buildout/2.13.4/.

[2021-03-08 07:27] #551 closed

[2021-03-08 09:33] gotcha commented on #529
I tried to reproduce.

- Built a python 3.8 `virtualenv-15.1.0`. Which installed `setuptools-54.1.1 wheel-0.36.2 pip-21.0.1`.
- Then pip installed `zc.buildout==3.0.0b1`.
- And ran `buildout` with the following `buildout.cfg`.

    [buildout]
    parts=checkversions

    [checkversions]
    recipe=zc.recipe.egg
    eggs=z3c.checkversions[buildout]

  I got no warnings.

- Ran the generated script

[2021-03-08 09:55] gotcha commented on #488
@arterrey @mgedmin I miss something: my English is not subtle enough to understand the details of the comments above. Could one of you make a summary with an example ?

[2021-03-08 10:02] gotcha commented on #483
@jugmac00 Would you make a PR now that #487 is closed 😉 ?

Or should we close this issue ?

[2021-03-08 10:11] jugmac00 commented on #483
Thanks, @gotcha, I assigned myself for this issue.

I have a huge open source backlog, but I will def. go for it.

Thanks so much for fixing CI and for all the work in general you put into `buildout`.

[2021-03-08 10:22] dataflake commented on #529
I just retried the same with release versions: zc.buildout 2.13.4 and `setuptools<52` to avoid the current incompatibilities with zc.buildout. The error has indeed gone away. The file mentioned in the traceback, `lib/python3.8/site-packages/setuptools/distutils_patch.py`, doesn't even exist in the installed setuptools version anymore, which in my case was 47.1.0.

[2021-03-08 10:22] #529 closed

[2021-03-08 12:35] gotcha commented on #519
Done in ff7b00c619ab6a95f3c66fec3968893090851dd6

[2021-03-08 12:35] #519 closed

[2021-03-08 13:00] #544 closed

[2021-03-08 13:05] gotcha commented on #478
@encolpe Do you still need the patch ? If yes, in which circumstances ?

[2021-03-08 14:01] jugmac00 commented on #319
`buildout` version 3 uses `pip` - also, with the 2.13 line you can manually pin a recent enough setuptools version to be able to install wheels, see https://github.com/buildout/buildout/issues/544

[2021-03-08 14:01] #319 closed

[2021-03-08 14:07] jugmac00 commented on #306
As far as I understand, we do not self bootstrap any more, but we recommend `virtualenv` and `pip`, see https://github.com/buildout/buildout/pull/555/files

Imho this issue can be closed.

[2021-03-08 14:07] #306 closed

[2021-03-08 14:09] jugmac00 commented on #288
The recommended way to install `buildout` is using a `virtualenv` and `pip`, see https://github.com/buildout/buildout/pull/555/files

[2021-03-08 14:09] #288 closed

[2021-03-08 15:59] gotcha opened #556 "Cannot install FormEncode 1.3.1"
`FileNotFoundError` due to `os.rename` into a missing directory.

@jensens  found it via https://github.com/plone/buildout.coredev/runs/2057051639

[2021-03-08 16:18] jugmac00 commented on #556
I tried to reproduce it and it worked on my machine.

Can you tell me what I did wrong?

[code]

[2021-03-08 17:10] gotcha commented on #556
@jugmac00 `FormEncode 1.3.1` 😉

[2021-03-08 17:11] jugmac00 commented on #556
Oh my 😔

Thank you!

[2021-03-08 17:54] jugmac00 opened #558 "buildout version 3.0.0b1 is currently incompatible with batou.lib.buildout.Buildout"
I wanted to be a good citizen, and try to update my Zope app to use the latest pre-release.

Currently, I do not know whether the problem is in `buildout` or `batou`, that is why I crossposted it in both issue trackers.
https://github.com/flyingcircusio/batou/issues/148

(batou is a deployment tool, which - in my case - executes buildout to deploy my Zope app).

With a minimal example of

[code]

[2021-03-08 22:42] encolpe commented on #478
@gotcha  I didn't read your last message.

Here it comes:

[code]

It seems relative to ez_setup.py when you run bootstrap-buildout.py with a too recent setuptools version but it crashes only when zc.recipe.egg is installed.

Full log:
[code]

[2021-03-09 06:57] jugmac00 commented on #558
See https://github.com/flyingcircusio/batou/issues/148 - `batou` does a `--no-deps` installation of `zc.buildout`, which results in the above `wheel` error.

[2021-03-09 07:01] gotcha commented on #558
Reading  https://github.com/flyingcircusio/batou/issues/148 and batou code makes me believe the issue needs to be fixed in batou.

Reopen if I am wrong.

[2021-03-09 07:01] #558 closed

[2021-03-09 07:11] gotcha commented on #556
Fixed in #557

[2021-03-09 07:11] #556 closed

[2021-03-09 07:29] gotcha commented on #478
@encolpe Would you try with newest buildout 3.0.0bx ? It does work for me.

That is:

    virtualenv-3.7 tmp/env
    cd tmp/env
    bin/pip install zc.buildout==3.0.0b1
    bin/buildout

[2021-03-09 08:15] encolpe commented on #478
Installing zc.buildout with pip works, with 3.0.0b1 and with 2.13.1.
Thanks

[2021-03-09 10:59] gotcha commented on #481
Released in 3.0.0b2

[2021-03-09 10:59] #481 closed

[2021-03-09 11:08] gotcha commented on #449
Seems a pretty good answer.

[2021-03-09 11:08] #449 closed

[2021-03-17 17:59] agitator opened #561 "No .dist-info directory after successful pip install ..."
Followup to https://community.plone.org/t/please-test-buildout-3/13554/16

Created the buildout for Pillow

[code]

Created a fresh venv with pyenv and installed buildout, also updated pip and ran again

[code]

Getting the same error
[code]

As far as I see my python 3.8.7 and pillow-env look pretty clean

[code]

What should be default?
Buildout getting the pillow wheel and not trying to build i

[2021-03-17 18:48] gotcha commented on #561
@agitator

- Did you test with `virtualenv` only ?

- Did you try to debug why your setup downloads a `.tgz`rather than a wheel ?

[2021-03-19 07:43] agitator commented on #561
Tried now with os python as well `/usr/bin/python3 -m venv .` same result.
Any pointers how I should debug that?
Besides the os python, I installed pyenv and pyenv-virtualenv with brew.

[2021-03-19 08:43] jugmac00 commented on #481
I am looking forward to be able to use buildout 3 sooooo much :-)

[code]

What? 1.0.0 is not 0.4.1.7... ah, right :-)

[2021-03-19 14:53] iham commented on #561
@agitator

1) little typo, i'd say:
```pip install buildout==3.0.0b2```
its zc.buildout, and yes; i typed it as you documented as i thought this might be a new fork or seperation for some reason. ;)

2) tried it on a fairly new set up mbpro with a clean install of:
- pyenv
- pipenv
... using homebrew

then installed python 3.8.7 explicit
```pyenv install 3.8.7```
created a dir
```mkdir test-pil```

[2021-03-19 15:12] iham commented on #561
tried system python based install and it worked too:

[code]

[2021-03-22 13:22] gotcha commented on #561
@agitator

Can you run `buildout -vv` and confirm that it fetches `Pillow-6.2.2.tar.gz` ?

On my machine, when running with `-vv` I get the following line in the output:

    Fetching Pillow 6.2.2 from: https://files.pythonhosted.org/packages/d1/3/b39dc66fb0c30339bcbf1c96992c915645cf236a4483db9bde8362539246/Pillow-6.2.2-cp37-cp37mmacosx_10_6_intel.whl#sha256=5dcbbaa3a24d091a64560d3c439a8962866a79a

[2021-03-22 13:26] gotcha commented on #561
I forced pip to install from source on my machine. It also succeeds.

    ✔[pil]$ bin/pip install Pillow==6.2.2 --no-binary :all:
    Collecting Pillow==6.2.2
      Downloading Pillow-6.2.2.tar.gz (37.8 MB)
         |████████████████████████████████| 37.8 MB 751 kB/s
    Skipping wheel build for Pillow, due to binaries being disabled for it.
    Installing collected packages: Pillow
    Running se

[2021-03-29 11:34] #483 closed

[2021-03-29 11:35] #548 closed

[2021-04-12 20:04] idgserpro commented on #312
Was this fixed in https://github.com/buildout/buildout/commit/188827f942938269f0d271c55bb6d8222ee80ebd by @gotcha?

[2021-04-13 07:41] gotcha commented on #312
I think so. However, I am not sure that I could wrap my head around the many cases that needed to be tested.

[2021-04-29 08:46] fschulze opened #567 "pip 21.1 breaks buildout 3.x"
The current ``_pip_install_cmd = 'from pip.__main__ import _main; _main()'`` breaks with pip 21.1.
Can this just be changed to ``'-m', 'pip'`` in ``call_pip_install`` instead? Should be more future proof.

[2021-05-06 08:08] gotcha commented on #567
I do not fully understand the reason for (and the consequences of) fiddling with the path in
`import sys; sys.path[0:0] = %r; ' % path`.

Reason why I am uneasy to go directly to `'-m', 'pip'`.

I plan to :
1) fix the imports to keep the current way working in a new release
2) explore the simple `'-m', 'pip'` later

[2021-05-07 10:21] gotcha opened #569 "Explore simplifying pip integration"
See #567

Using `python -m pip` would make for a more robust integration.

Nevertheless, current code fiddles with `sys.path`. It needs to be checked if this is still needed.

[2021-07-15 09:54] goschtl commented on #569
Hey gotcha,

any news on this.?

Christian

[2021-07-20 20:37] frapell opened #570 "Support running buildout in FIPS enabled environments"
Using md5 to create hashes in a FIPS enabled environment fails
[code]

There is a flag that can be used with md5 `usedforsecurity=False` when you want to use md5 for non security related hashing in FIPS enabled environments. However this fails when FIPS is not enabled `TypeError: 'usedforsecurity' is an invalid keyword argument for md5()`

I will submit a PR shortly with a proposed fix

[2021-07-28 20:19] gotcha commented on #569
@goschtl I did not tackle this until now.

[2021-07-29 06:02] mnjagadeesh opened #573 "[Question] buildout slows down problem"
I am using 2.13.3 version buildout. It is noticed that as number of eggs grow, buildout slows down. Though exact version is mentioned downloading egg is very slow. Any idea to speed it up?

[2021-07-29 06:17] goschtl commented on #573
You can try to run buildout -N it does not look for new versions....

[2021-07-29 06:37] mnjagadeesh commented on #573
Tried -N option but still feel slow. Also it is not reading ${buildout:download-cache} I downloaded few eggs into ${buildout:download-cache}/dist [also tried keeping thoe eggs in ${buildout:download-cache}] but still buildout downloading eggs.
This is interesting

[2021-07-29 07:11] goschtl commented on #573
maybe you can try -vvv and see where it gets slow

[2021-07-29 07:14] mnjagadeesh commented on #573
one one package has more than 10k eggs. that is taking time too much time.

[2021-07-29 07:14] goschtl commented on #573
which one?

[2021-07-29 07:18] mnjagadeesh commented on #573
easy_install._obtain() method is taking time.  I have separate script to cache egg in downloads/dist. but buildout is not reading download-cache folder, but downloading eggs. Is there any flag to be used?

[2021-07-29 07:19] goschtl commented on #573
can you show me your section i guess you use zc.recipe.egg? i will try it then

[2021-07-30 03:07] mnjagadeesh commented on #573
Sure. I am using zc.recipe.egg. I will share configuration soon

[2021-08-02 12:08] fschulze opened #574 "With buildout 3.x shared eggs are wrongly matched"
I haven't found a simple reproduction case yet, but I often see wrong eggs being matched from the eggs cache when using multiple Python versions. I saw it when switching the used Python version when there are eggs from the previous version left in the eggs directory and in CI where multiple Python versions run and use a shared cache. The sys.path in scripts has eggs from the wrong Python version i

[2021-08-03 15:21] idgserpro commented on #574
You mean not exactly a traceback is raised, but wrong egg paths on sys.path after trying multiple Python versions? Are these multiple python versions [_major_, _minor_ or _patch_](https://semver.org/)? Are you running virtualenv again everytime you change your Python versions? It's been a while I don't have [`PyUnicodeUCS2_FromString`](https://bugs.python.org/issue8654) errors after using [ABI tag

[2021-08-06 15:15] pnicolli commented on #561
I am trying this on an older buildout. I created a fresh virtualenv (python 2.7.18 for this specific buildout). Installed latest zc.buildout 3.0.0b2, setuptools and wheel.
If I ``pip install Pillow`` I get the wheel.
If I run ``buildout -vvv`` I get the same error that @agitator posted. Buildout downloads the tgz version of Pillow and complains it has no .dist-info after building the tgz. Note: I

[2021-08-10 19:10] mauritsvanrees opened #575 "Let Buildout read constraints.txt"
In Zope and Plone we have our version pins in a `versions` section in `versions.cfg`. Both projects have some way to turn those versions into a pip constraints or requirements file. I think it is about time for these projects to turn it around: have the `constraints.txt` (and/or `requirements.txt`) be the leading, canonical place for specifying the version pins, and let Buildout read these files.

[2021-08-10 22:11] idgserpro commented on #575
If you're planning to have both `requirements.txt` and `constraints.txt` and the motivation is to override the `[versions]` section, wouldn't a name like `buildout.versions` or even `buildout.versionpins` be more appropriate?

For a first version this is nice, but in the future being able to use the same specifiers already used on buildout and pip txt files would be less confusing.

And well... I

[2021-08-12 21:10] mauritsvanrees commented on #575
[buildout-versions](https://pypi.org/project/buildout-versions/) already exists. (In current buildout I would use the standard options `show-picked-version` and `allow-picked-versions` instead.)

`buildout.versionpins`: you can already pin versions in buildout, so this does not tell me anything about why I should use an extra package for this.

But yes: at first this extension would only be about

[2021-08-18 14:22] mauritsvanrees commented on #575
I just asked [community.plone.org](https://community.plone.org/t/new-buildout-extension-which-license-and-which-organisation/14207) for advice on which license to use and which GH organisation to put it in.

I have no code yet, but we will need something like this eventually.

[2021-08-28 10:46] fschulze opened #576 "buildout 3.x doesn't forward verbose option to pip"
When using ``-v`` with buildout there is no verbose output from pip to see compilation info etc.

[2021-08-30 12:14] icemac commented on #574
Here a traceback of a CI run in Jenkins for union.cms when switching to Python 3.9 from the previously tested Python 3.7. For some packages the Python 3.9 egg is used but for others the old 3.7 one. It is not clear for me when which version is used. (I am using zc.buildout 3.0b2.)
[code]

[2021-08-30 12:41] icemac commented on #574
The solution was to use a separate shared eggs directory for the Python 3.9 CI jobs.

Interestingly it only seems to happen that the Python 3.9 jobs use Python 3.7 egg but not vice versa – even if the Python 3.9 egg is in the eggs directory.

[2021-09-01 07:46] mauritsvanrees commented on #574
In my `~/.buildout/default.cfg` I have in the buildout section: `abi-tag-eggs = true`. This automatically makes the eggs end up in a different directory. The default value is false, and this should of course still work.

I wonder if buildout 3 somehow assumes this option is true. Maybe it should make true the default value, or perhaps the only possible value.

Note: currently I have these director

[2021-09-02 06:08] icemac commented on #574
@mauritsvanrees Using `abi-tag-eggs = true` in `~/.buildout/default.cfg` also solves the problem for me in a more elegant way as it only has to be configured once. Thank you for sharing this tip.

[2021-09-03 03:54] distributist opened #577 "Buildout can ignore pinned versions when processing "buildout" section"
There is a particular circumstance - when a substitution inside the buildout section comes from a section with a recipe - that versions specifications are ignored, and the latest version installed, even if allow-picked-versions is false.

What happens is that when `options = self['buildout']` is run at line 482 (all references to 2.13.4), if there are substitutions, `_dosub` automatically loads th

[2021-09-03 05:47] icemac commented on #577
Thank you for writing this issue. Could you please create a pull request with your changes?

[2021-09-03 17:12] distributist commented on #577
I won't be able to get to it for a few days, but will be happy to do so.

[2021-09-06 14:45] gbastien commented on #410
Hi,

for the record, with Ubuntu 20.04 that is using virtualenv 20.0.17-1ubuntu0.4 we get same problem while starting bin/zeoserver:
[code]
We saw also that lib/python2.7/zc folder is missing a `__init__.py` file?
Moving to virtualenv 20.7.2 solved the problem...

Maybe this may help...

Gauthier

[2021-09-08 10:03] icemac opened #578 "Unable to install packages which have no sdist"
I want to install [https://pypi.org/project/playwright/](https://pypi.org/project/playwright/) using buildout.
This is only successful as long the release contains a source distribution.
As newer releases of that package no longer provide an sdist, `buildout` fails to install them.

See the following example: (According to #567 `pip 21.0.1` is the newest version supported by `buildout`.)

[code]

[2021-09-09 11:24] gotcha commented on #573
This sounds like an issue in `setuptools` that got solved in 46.3.0 : https://github.com/pypa/setuptools/pull/2108/

What is the version of `setuptools` that you use ?

[2021-09-09 13:17] mnjagadeesh commented on #573
I am using setuptools version 44. I will upgrade and let you know

[2021-09-29 14:27] gotcha commented on #578
I do not manage to reproduce your issue.

If I specify `playwright = 1.14.1` in the `[versions]` section, everything works fine for me.

I wonder if you are trying to use `playwright>=1` in buildout config file. Which is not a use case covered.

[2021-09-30 06:41] icemac commented on #578
That's strange: I tried again with the following content for `buildout.cfg`:

[code]

And I got:

[code]

Setting `abi-tag-eggs` to `true` does not change the behavior for me.
Maybe this happens because there is just a univeral2 wheel for Darwin 11 which might not be supported by `pip==21.0.1`.

[2021-10-01 08:06] gotcha commented on #578
Can you share the output of `bin/buildout -vv`?

[2021-10-04 08:45] MrHands opened #580 "setuptools must be downgraded to 51.3.3 for Buildout 2.13"
When I run `zc.buildout==2.13.4` with `setuptools==58.2.0` installed, I get the following error:

    Traceback (most recent call last):
      File "\python39\lib\runpy.py", line 197, in _run_module_as_main
        return _run_code(code, main_globals, None,
      File "\python39\lib\runpy.py", line 87, in _run_code
        exec(code, run_globals)
      File "\Python39\Scripts\buildout.exe\__main__

[2021-10-05 06:24] icemac commented on #580
You are right, `setuptools >= 52` is not supported by `zc.buildout 2.13.4`. That's exactly what the errors messages tries to communicate. – What would you have expected? What do you suggest?

For details see https://github.com/buildout/buildout/blob/2.x/CHANGES.rst#2134-2021-03-08 and https://github.com/buildout/buildout/blob/2.x/setup.py#L48.

You could try `zc.buildout 3.0.0b2` which supports ne

[2021-10-05 07:43] MrHands commented on #580
Thanks for getting back to me so quickly!

I realize now that I was mentally parsing the error message I received in the wrong way. I'm not overly familiar with the Python ecosystem (I usually just write C++ and JavaScript) and I was reading this error message:

    setuptools<52,>=8.0

In this way: "the `setuptools` package version installed must be 52 or greater, no limit to how much greater, an

[2021-10-12 12:53] goschtl opened #582 "missing top_level.txt causes error in 3.0.0b3"
when i try to install orjson in an zc.recipe.egg i get the following error:

Getting distribution for 'orjson'.
While:
  Installing app.
  Getting distribution for 'orjson'.

An internal error occurred due to a bug in either zc.buildout or in a
recipe being used:
Traceback (most recent call last):
  File "/Users/ck/work/reha/tmp/project/lib/python3.8/site-packages/zc/buildout/buildout.py", line 22

[2021-10-14 06:20] icemac commented on #580
Trying to reproduce this issue locally I get another traceback (I am on MacOS.):

[code]

Here the problem already occurs when trying to import `pkg_resources`.

I used
* `-e git+https://github.com/buildout/buildout.git@76a92100e57ce56ad5e8a6139ff9ddbd75a58585#egg=zc.buildout` Thats the last commit on #581
** Interestingly I get the same traceback like you when using `zc.buildout==2.13.4` but not

[2021-10-14 12:02] jamadden commented on #578
I do see the same issue.
[code]

The problem persists if I upgrade setuptools to the lastest 58.2.0.

[2021-10-14 12:13] jamadden commented on #578
Given this part of the failing backtrace:
[code]

We are here:
[code]

With argument values:
[code]

And the value of `EXTENSIONS`:
[code]

So this part of setuptools will never look for just wheels.

[2021-10-15 06:03] icemac commented on #578
@jamadden Thank you for the investigation.

I feel `setuptools` would be the right place to fix this. I am not in a hurry.

[2021-10-15 06:20] #580 closed

[2021-10-15 08:11] odelaere opened #583 "Homepage link on pypi.org is broken"
Hello,
The homepage link on pypi links to [http://buildout.org](http://buildout.org).
Which is unreachable
![Screenshot from 2021-10-15 10-10-37](https://user-images.githubusercontent.com/23073839/137454353-fab0ed17-2634-4aa0-878f-9bea1eb13058.png)

[2021-10-15 08:27] odelaere opened #584 "buildout 3 fails on unpinned packages that pip would succeed to install"
Hello,

Testing zc.buildout 3.0.0b3  I noticed a beahavior of pip that should be implemented in zc.buildout.

When you don't pin a specific version of a package, pip tries the latest ant if it fails to install pip would retry the previous version and so on.
ex:

[code]

Currently zc.buidout does not retry and just fails:

[code]

[2021-10-15 08:30] odelaere commented on #584
Looks like zc.buildout consider any unpinned package as pinned to the latest version available on pypi

[2021-10-19 07:12] dataflake commented on #583
The configuration on our own server is now in place and as soon as the DNS changes have propagated you will get redirected to www.buildout.org. I noticed another breakage in the RTD config: Even though my redirects use HTTPS, RTD redirects internally to HTTP again. Can't fix that myself.

[2021-10-22 06:24] #583 closed, assigned to nobody

[2021-11-23 14:55] gotcha opened #585 "extends-cache fails when it includes ${section:variable} "
Which is normal but the failure is not explicit at all.

There should be a check and an error message explaining that `${section:variable}` are not allowed in `extends-cache`.

[2021-11-24 14:53] gotcha opened #586 "buildout 3 fails with a traceback when `pip install` fails."

[2021-11-24 15:00] gotcha commented on #578
@jamadden Did you open a new issue on `pypa/setuptools` ?

[2021-11-24 15:03] jamadden commented on #578
In the setuptools commit https://github.com/pypa/setuptools/commit/3b87957adcf360dbbe7d1c0fa48e1295fb81900c the bundled version got updated to 21.2.

[2021-11-24 18:06] gotcha commented on #578
@icemac Can you check if your issue is fixed with `setuptools>=59.1.0` ?

[2021-11-25 07:24] icemac commented on #578
@gotcha Updating `setuptools` (I my case to 59.2.0) solved the problem, I am now able to install `playwright==1.14.1` using `zc.buildout`. — Thank you all for your investigation and help.

Is there still something we should do about this issue or can it be closed now?

[2021-11-25 08:51] gotcha commented on #578
I'll close.

Thanks again to @jamadden !

[2021-11-25 08:51] #578 closed

[2021-11-25 16:30] gotcha commented on #570
Merged and released in https://pypi.org/project/zc.buildout/3.0.0b4/

[2021-11-25 16:31] gotcha commented on #576
Fixed and released in https://pypi.org/project/zc.buildout/3.0.0b4/

[2021-11-25 16:31] #576 closed

[2021-11-25 16:31] gotcha commented on #582
Fixed and released in https://pypi.org/project/zc.buildout/3.0.0b4/

@goschtl Can you check please ?

[2021-11-25 16:31] #582 closed

[2021-11-25 16:32] gotcha commented on #585
Fixed and released in https://pypi.org/project/zc.buildout/3.0.0b4/

[2021-11-25 16:32] #585 closed

[2021-11-25 16:33] gotcha commented on #586
Fixed and released in https://pypi.org/project/zc.buildout/3.0.0b4/

[2021-11-25 16:33] #586 closed

[2021-11-25 17:28] gotcha commented on #570
@frapell Do you still need a `2.x` merge and release ?

[2021-11-25 17:36] frapell commented on #570
@gotcha If possible, that would be great, yes.

[2021-11-25 20:03] goschtl commented on #582
the problem is gone... thanks

[2021-11-25 21:10] gotcha commented on #570
@frapell Done

[2021-11-25 21:10] #570 closed

[2021-11-25 21:55] frapell commented on #570
@gotcha Thank you!!

[2021-11-26 06:42] icemac commented on #567
@gotcha I think this is solved in b3, right?

[2021-11-26 06:42] #567 closed

[2021-11-26 06:58] icemac opened #589 "Buildout 3: Cannot create egg if namespace __init__ is missing."
Trying to install `ruamel.yaml.clib` fails with a traceback – `zc.buildout` tries to create an egg from the sdist, while `pip` uses the wheel existing on PyPI.

* `zc.buildout` version: 3.0.0b4
  * also tested on b2 and b3: same behavior
  * but 2.13.6 is able to create the egg successfully (from sdist)
  * `pip` uses the wheel `ruamel.yaml.clib-0.2.6-cp39-cp39-macosx_10_9_x86_64.whl`
* Python ver

[2021-11-26 10:17] gotcha commented on #567
@icemac Yup, forgot to close, thx

[2021-11-29 11:12] gotcha opened #592 "Command-line `buildout:extends` not honored"
When passing `buildout:extends` param through CLI, it is not used.

[2021-11-29 17:12] gotcha commented on #589
Should be fixed in https://pypi.org/project/zc.buildout/3.0.0b5/

@icemac  Can you check ?

[2021-11-29 17:12] #589 closed

[2021-11-30 07:03] icemac commented on #589
@gotcha It worked, thank you for fixing this issue.

[2021-12-02 19:23] mauritsvanrees commented on #592
I just noticed that `zc.buildout` 2 has this problem as well. I wanted to use it in `tox.ini` for testing a package, but it had no effect. In my case I solved it in a different way.

[2021-12-03 07:26] icemac opened #594 "buildout 3: PkgResourcesDeprecationWarning for packages containing a hyphen"
If I am using a downloads cache and install a package those name contains a hyphen which is not in the eggs directory I get PkgResourcesDeprecationWarnings about invalid version numbers.

See the following example:

Contents of `buildout.cfg`:

[code]

Example output:

[code]

The interesting warnings seem to be the one without a version number and that each existing version of `pytest-cov` gets a

[2021-12-03 11:35] gotcha commented on #592
@mauritsvanrees Would you add a link to your workaround ?

[2021-12-03 12:19] mauritsvanrees commented on #592
My workaround was to create separate buildout files for each Plone version, for example `test-4.3.x.cfg` and in `tox.ini` call buildout with the proper buildout config.
See this [`pas.plugins.headers` PR](https://github.com/collective/pas.plugins.headers/pull/11/files). I used the same approach when I added tox/GHA to `collective.exportimport` earlier this year, and copied from there.

[2021-12-03 13:32] jamadden commented on #594
At first I didn't understand what the expected output was. I thought you wanted buildout to suppress the warnings emitted from pip/setuptools/pkg_resources.

But the important bit of context missing was that, even in an environment  with `PYTHONWARNINGS=always`, `pip` doesn't seem to show those same warnings, given the same versions of `pip` and `setuptools`:

[code]

[2021-12-03 16:25] gotcha commented on #594
On the top of my head, I do think that `buildout` explores the current `eggs-directory` via `pkg_resources` to discover which eggs are already available.

@icemac Can you check if this goes away with `setuptools<58.4.0` ?

[2021-12-03 17:41] mauritsvanrees commented on #594
Buildout *does* look in the `download-cache`. I saw this recently when I got the above warnings. For example, it complained about a version `1.2.7-20070827-preview` from `elementtree`, which is only used by ancient versions of Plone. So you may get warnings about packages that you are not using in your current project.

In my case, over the years I had gathered about 5600 packages in the shared do

[2021-12-08 10:38] delijati opened #595 "Force version pinning for dependencies"
Hi,

I have two dependencies that have conflicting versions. Is it possible to force buildout to pin a version aka remove the version pinning from external packages?

example:

package_a needs foo==0.1
package_b needs foo==0.2

buildout:

[versions]
foo=0.2

[2021-12-08 12:10] jamadden commented on #595
Not to my knowledge. You can, however, install different versions with different parts:
[code]

[code]

Beware generating dependent scripts though. In this example, both parts generated `bin/gunicorn`, but with different versions of the `gunicorn` egg. Buildout didn't catch this, and the generated `bin/gunicorn` of course can only refer to one version (I *think* the version from the last listed pa

[2021-12-10 07:14] icemac commented on #594
@gotcha wrote:

Using `setuptools<58.4.0` the `DeprecationWarnings` disappear: (Using the same virtualenv as created in the original description of the issue.)

[code]

Removing the `eggs` directory again and updating to a more recent `setuptools` version brings back the deprecation warnings.

[2021-12-16 13:27] #595 closed

[2021-12-16 15:23] gotcha commented on #569
Fixed in #596

[2021-12-16 15:23] #569 closed

[2021-12-28 04:34] arterrey opened #597 "[feature request] Parallelise building parts"
Is it possible to parallelise the building of parts? Could be a huge time saver.

I think what would be needed would be to:

1. Some kind of next_part function which can yield out the next non-dependent part to be built
2. A way to send parts to a forked buildout process
3. A way to receive results from the forked buildout process and write .installed.cfg
4. An output display that shows the progre

[2021-12-28 11:42] gotcha commented on #597
PR welcome ;-)

[2021-12-28 22:33] arterrey commented on #597
I may be able to do something next year, but it is worth discussing first.

A solution I was thinking about. Would it work if there was a way to accept a buildout config as stdin and return .installed.cfg as stdout?

That way it could be possible to chop up a larger buildout configuration into a subset configurations, subprocess them out, then merge the installed.cfg results as they come back.

An

[2021-12-28 22:41] arterrey commented on #597
In terms of config and an master process/executer - that may actually be handleable inside a recipe, like such...

[code]

The other benefit of doing that way would be that it preserves dependencies that are expressed as the parts order.

[2022-01-31 13:04] mauritsvanrees opened #598 "pip 22 TypeError: missing required 'use_deprecated_html5lib'"
I am trying out the latest pip version (22.0.2) in the Plone core development buildout, see [this PR](https://github.com/plone/buildout.coredev/pull/770) and hit an error with `zc.buildout` 3.0.0rc1:

[code]

Full traceback is in that PR.

It seems likely that the `process_url` patch in `zc.buildout` needs to be updated to a [new feature in pip](https://pip.pypa.io/en/stable/news/#v22-0):

[2022-01-31 13:07] mauritsvanrees commented on #598
BTW, I tried reproducing this with a much smaller buildout config, instead of the huge Plone one, but the following worked without errors:

[code]

[2022-02-04 15:47] ale-rt commented on #598
I can reproduce it:
[code]

The error goes away when I run it with the `-N` flag (that picks the eggs from the cache).

[2022-02-04 15:54] ale-rt commented on #598
Maybe you have `newest=false` in your `.buildout/default.cfg`, what happens if you try:
[code]
?

[2022-02-04 16:05] ale-rt commented on #598
Btw if I change `plinks = list(parse_links(html_page, use_deprecated_html5lib=False or Tue does not matter))` then I have:
this error:
[code]

[2022-02-04 19:56] mauritsvanrees commented on #598
Aha, I have  `eggs-directory` and `download-cache` in my `~/.buildout/default.cfg`, which is what makes it work for me. When I override those settings in my `buildout.cfg` it fails in the same way as for you.

[code]

[2022-02-26 11:18] gotcha opened #600 "setuptools vendoring of distutils breaks `zc.buildout` (and `dev.py`)"
See https://github.com/buildout/buildout/pull/599

[code]

[2022-03-02 18:44] #598 closed

[2022-03-02 19:56] gotcha commented on #597
And that you could experiment without touching buildout at first

[2022-03-07 10:29] delijati opened #603 "buildout 3: python3.8 install compiles scipy 1.7.3 but whl"
Buildout tries to compile a package even if there is a whl (Python 3.8.12).

[code]

[2022-03-07 14:53] gotcha commented on #603
Can you report which version of `pip, `setuptools`, `zc.buildout` are being used ?

A minimal `buildout.cfg` to reproduce would be welcome.

[2022-03-07 15:01] delijati commented on #603
see above :)  Successfully installed pip-22.0.4 setuptools-60.9.3 zc.buildout-3.0.0rc2

[2022-03-07 17:55] gotcha commented on #603
Sorry, should have read with more attention.

Thx for the buildout.

[2022-03-07 19:22] gotcha commented on #603
I was about to ask the same question.

On MacOSX, I could not reproduce easily.

I had to pin version since `scipy == 1.8.0` has been released:
[code]

Nevertheless, unless I downloaded separately the `tgz`source release to `.../dist`, `buildout`would download the wheel. Both with `zc.buildout` `2.13.4` and `3.0.0rc2`.

[2022-03-07 21:10] delijati commented on #603
Ahh yes forgot to set the pinning :).

Ok deleting the tgz worked, but now i get:

[code]

[2022-03-07 22:00] gotcha commented on #603
This is a bug that happens with `setuptools >= 60`.

You have currently two solutions:
- downgrade `setuptools` with `install "setuptools<60"`
- run `buildout` with the proper environment variable set `SETUPTOOLS_USE_DISTUTILS=stdlib bin/buildout`

I will need to find out how to work around `distutils` support in recent `setuptools`.
As you might know, `distutils` is being deprecated. In this cont

[2022-03-09 13:36] delijati commented on #603
Can confirm this works.

[2022-03-09 17:44] delijati commented on #594
Can we ignore them? Or should buildout pin `setuptools<58.4.0`?

[2022-03-09 22:03] gotcha commented on #594
AFAIK, those warnings can be ignored.  I plan to hide them in next release.

[2022-03-09 23:00] delijati opened #604 "buildout 2/3: Wheel file mode installed via buildout != pip install"
This happens on buildout 2/3:
A executable has not the right mode when installed via buildout. I also removed the cached egg but still the same result.

I assumed `zc.recipe.egg` is just unpacking the wheels and not changing the permission on file.

Successfully installed setuptools-58.4.0 zc.buildout-2.13.3
Successfully installed pip-22.0.4 setuptools-60.9.3 zc.buildout-3.0.0rc2

buildout:
[code]

[2022-03-10 08:29] icemac commented on #603
@delijati Is there something still open or can this issue now get closed?

[2022-03-10 09:03] delijati commented on #604
Ok i narrowed it down to setuptools. It seams it copies the files but without the mode |-(.

[code]

[2022-03-10 09:07] gotcha commented on #604
Do I understand correctly that the issue sits in `install_as_egg` ?

[2022-03-10 09:08] delijati commented on #604
Jup i'm already filling out an issue in setuptools repo

[2022-03-14 09:36] delijati commented on #604
I also added a fix to setuptools https://github.com/pypa/setuptools/pull/3167

[2022-04-04 09:48] delijati commented on #604
it was merged ... yay :)

[2022-04-04 09:49] #603 closed

[2022-04-05 21:20] gotcha commented on #604
Even better, it is released in https://pypi.org/project/setuptools/62.0.0/

[2022-04-06 06:15] icemac commented on #604
Currently I run `zc.buildout=3.0.0rc2` with `setuptools < 60`. Is this max version of `setuptools` no longer needed?

[2022-04-06 10:52] mauritsvanrees commented on #604
Should still be needed, except when you use an env for using distutils from core.

[2022-04-06 11:11] delijati commented on #604
Yay i got now a working buildout setup:
[code]
The only still annoying part is this `SETUPTOOLS_USE_DISTUTILS=stdlib`. If it needs to be set anyway can it not just be then the default?

[2022-04-06 12:46] gotcha commented on #604
@delijati Can this issue be closed ?

I plan to fix this before doing a final  `3.0` release. It will be tracked in #600.

[2022-04-06 15:35] gotcha commented on #600
My current understanding is the following:

`setuptools` is vendoring `distutils`. It installs a hack to ensure that its copy of `distutils` is used instead of the `stdlib` version. Unfortunately, there is still an issue with `pip` (https://github.com/pypa/pip/issues/8761) where the mechanism fails and where `setuptools` allow `pip` to use the `stdlib` version.

We are in the dark spot of the prob

[2022-04-06 18:38] #604 closed

[2022-04-07 19:14] gotcha commented on #600
Fix released in https://pypi.org/project/zc.buildout/3.0.0rc3/

[2022-04-07 19:14] #600 closed

[2022-04-07 19:16] gotcha commented on #603
@delijati Would you try https://pypi.org/project/zc.buildout/3.0.0rc3/ ? It should avoid the need for
`SETUPTOOLS_USE_DISTUTILS=stdlib`.

[2022-04-07 19:18] gotcha commented on #600
@mauritsvanrees @icemac Would you try that latest release ?

I hope it is the last release candidate.

[2022-04-07 19:58] mauritsvanrees commented on #600
I am trying it out in https://github.com/plone/buildout.coredev/pull/786 with latest `setuptools 62.0.0`.

So far so good:

- All GitHub Actions have succeeded, on all combinations of Python 3.7/3.8/3.9 and Ubuntu/Mac/Windows. It can be that all needed packages were already cached though, so nothing needed to be downloaded or installed. But sounds good already.
- I started Jenkins tests, but those

[2022-04-07 20:08] mauritsvanrees commented on #600
Update: it has finished successfully, after installing 309 packages:

[code]

[2022-04-07 21:23] mauritsvanrees commented on #600
Jenkins has succeeded as well. I have merged my PR: the Plone 6.0 coredev buildout is now using release candidate 3.

[2022-04-07 21:31] gotcha commented on #600
@mauritsvanrees

Thanks for testing it ! And for Plone 6 coredev.

Before cutting a 3.0 release, I still would like to test a buildout that pins a lower version of `setuptools` than the one installed in the `virtualenv`.

My intuition tells me that it is one of the cases where the race condition mentioned in https://github.com/pypa/pip/issues/8761 could happen. But I could be wrong.

[2022-04-08 17:15] delijati commented on #603
@gotcha yes not it works without `SETUPTOOLS_USE_DISTUTILS=stdlib` :+1:

[2022-04-11 09:21] goschtl opened #606 "buildout3 rc3 problem"
Hi,

i try to install sqlalchemy via zc.recipe.egg. Buildout3 rc3.

This is my config:

[code]

I get this error on first run:

[code]

and this on 2'nd

[code]

any idea?

[2022-04-11 10:59] mauritsvanrees commented on #606
What is suspicious here, is that the tracebacks show a mixture of Python 3.8 (`zc.recipe.egg-2.0.7-py3.8.egg`) and 3.9.

You tried this with Python 3.9, right?

Can you add `abi-tag-eggs = true` in your `buildout` section and try again? I suspect this would solve it. It *should* work without this option though.

I think I saw a similar report in the issues a while ago, but cannot immediately find

[2022-04-11 13:21] gotcha commented on #606
Can you try to run it with `eggs-directory` specified ?

[code]

[2022-04-13 09:42] gotcha commented on #606
I have tried to reproduce your problem (not sure I understood properly).
I did not manage to bump into an issue.
I am not under Mac OSX 12.

This is what I did.

1. make a `virtualenv` with python 3.9
2. `$ bin/pip install zc.buildout==2.13.7`
3. run `buildout` with the following `buildout.cfg`:
[code]
Got the following eggs:
[code]
4. `$ bin/pip install zc.buildout==3.0.0rc3`
5. `$ bin/pip instal

[2022-04-14 08:27] goschtl commented on #606
Hm,

@gotcha can you gimme a pip list i want to see what version of setuptools and pip you have after you created the virtualenv with python3.9.

Maybe i have Problems with my python setup i use pyenv to have a bunch of python versions on my machine?

Christian

[2022-04-15 09:50] gotcha commented on #606
@goschtl

With 2.13.7:
[code]

With 3.0.0rc3:
[code]

[2022-04-25 08:11] goschtl commented on #606
Hm it still does not work here.
The problem is here:

1858     def _get_matching_dist_in_location(dist, location):
1859         """
1860         Check if `locations` contain only the one intended dist.
1861         Return the dist with metadata in the new location.
1862         """
1863         # Getting the dist from the environment causes the distribution
1864         # meta data to be read. Clo

[2022-04-25 22:20] gotcha commented on #606
@goschtl Did you try without a shared egg cache, iow, by specifying `eggs-directory` ?

[2022-04-26 07:16] goschtl commented on #606
Hey i found the thing.

In a brew installed python it works without Problems. But in general i use pyenv to manage my local python installations.

The platform information are a bit different between the pyenv and f.e. brew python installation.

In pyenv i get this:

'macosx-12.3-x86_64'

in brew python i get this:
macosx-11-x86_64

When i set this platform explicit via this ENV-Variable it works

[2022-04-26 11:36] gotcha commented on #606
@goschtl

Two questions:

1. Can we conclude that this is a `pyenv` bug ?
2. Can you explain what this means ?

[2022-06-15 09:57] gbastien opened #608 "ERROR: Package 'collective-jsonmigrator' requires a different Python: 3.8.10 not in '==2.7,>=3.7'"
Hi @gotcha

here is an error I get when using zc.buildout 3.0.0rc3 while trying to install collective.jsonmigrator

So the problem is either in https://github.com/collective/collective.jsonmigrator/blob/master/setup.py where ``python_requires="==2.7, >=3.7"`` or in the way it is managed by zc.buildout?

Another thing is that the error message appears when asking for a fixed version, but if you do

[2022-06-15 21:10] mauritsvanrees commented on #608
This python_requires condition is wrong and can never be true. It cannot be installed by any pip version.

[2022-06-18 16:18] amotl opened #609 "Problem with Buildout on Python 3.10 and macOS >= 11; with reproduction repository"
Dear @goschtl, @mauritsvanrees, @gotcha, and the whole Buildout community,

first things first: Thanks a stack for conceiving and maintaining this excellent package.

### TLDR;

There is a minimal reproduction case repository at [test-buildout-python310], where https://github.com/crate-workbench/test-buildout-python310/issues/1 swiftly outlines the problem.

### Details

While working on https://g

[2022-06-18 23:55] amotl commented on #609
For me, the observation shared above raises two questions:

1. Why does the procedure try to invoke the compiler at all and not pull binary wheels from PyPI instead? They should be available. Here: `greenlet`, which is a dependency of SQLAlchemy.
2. Why does the procedure not see the `gcc` compiler when it is falling back to it?

[2022-06-20 08:48] gotcha commented on #609
Thanks for the kind words.

Are you having those problems on a M1 ? Or classic Intel CPU ?

[2022-06-20 09:06] amotl commented on #609
Dear @gotcha,

thanks for your quick reply. I am running on classic Intel, GHA as well. @proddata also might want to respond on what his workstation is running on.

With kind regards,
Andreas.

[2022-06-21 06:12] icemac commented on #609
Hi, since a week I also see failing GHA runs for Python 3.10 when C code is involved. It is only 3.10, older and newer versions are okay and only MacOS. There is not even `zc.buildout` involved. (Locally on Intel this cannot be reproduced.)

See https://github.com/zopefoundation/zope.security/pull/87 for details even if they might have nothing to do with this possible issue in buildout and show an

[2022-06-21 06:54] proddata commented on #609
Only tested it with an M1 on macos12

[2022-06-21 20:03] amotl commented on #609
Hi again,

thank you for sharing your observations, @icemac. I was a bit hesitant first, but now I've also shared them with the people at GHA, see https://github.com/actions/virtual-environments/issues/5791.

With kind regards,
Andreas.

[2022-06-21 23:41] idgserpro commented on #609
Did you try to use the patch as mentioned in https://github.com/pypa/setuptools/issues/2514#issuecomment-754752765 only to see if it works and maybe we can narrow the problem? Or running a minimal buildout as specified in https://github.com/pypa/setuptools/issues/2514#issue-775619894? This may be a setuptools issue.

[2022-06-21 23:42] idgserpro commented on #606
I do believe that this is similar to https://github.com/pypa/setuptools/issues/2514#issuecomment-754752765: a macos + setuptools problem.

[2022-06-23 06:15] icemac commented on #609
@idgserpro Thank you for the link to https://github.com/pypa/setuptools/issues/2514. The comment from @goschtl there helped me in another project where installing of packages containing C code suddenly stopped in my local MacOS (Python 2.7 on zc.buildout 2.13).

[2022-06-23 06:24] icemac commented on #609
Hey, setting `_PYTHON_HOST_PLATFORM="macosx-11-x86_64"` also helped to fix the GHA build in https://github.com/zopefoundation/zope.security/pull/87. – That's interesting.

[2022-07-08 04:11] shamirapz opened #610 "Private pypi repository with basic auth used to work in previous versions"
I have started using buildout `3.0.0.rc3` and noticed that it was not able to pull packages from a private _pypi_ server with _basic authentication_.

This is the snippet that used to work in the past:

[code]

Now with `3.0.0rc3`, it shows an error that has the following form:

[code]

What this seems to say is that _buildout_ can  pull the index, which is also behind basic auth, but cannot pull

[2022-07-08 06:14] goschtl commented on #610
Hi,

do you have tried to use this extension?

https://pypi.org/project/cykooz.buildout.basicauth/

Maybe it helps you with your Problem.

- Christian

[2022-07-08 07:02] ale-rt commented on #610
This is not a solution for the problem you posted but it might help.
If not ignore this.
I do not use any extension to access password protected repos and I try not to add secrets in my buildout cfgs.
I just configure my `~/.pypirc` like:
[code]

[2022-07-09 03:55] shamirapz commented on #610
@goschtl @ale-rt Thanks for your comments. I have tried both methods using buildout `3.0.0rc3` and unfortunately neither works.
It appears that the sections of code in how buildout installs packages have been completely rewritten. A couple of notes that I can drop here if someone else hit the same issue:

- `~/.pypirc` is ignored, none of the changes made in it were seen by buildout. It is mainly

[2022-07-19 20:30] me-kell opened #611 "Where does `buildout.exe` come from?"
Where does `buildout.exe` come from?

What is the origin of this file? Where is the source code? How it is compiled?

[2022-07-23 15:25] pradyunsg opened #612 "distutils-sig has closed"
Hiya! 👋🏽

The documentation for this project still lists distutils-sig as a place to reach out at, to ask about buildout. That mailing list has been sunset and, thus, that link should either be removed or updated to a relevant location for buildout. :)

[2022-07-25 12:28] gotcha commented on #610
Just to be sure: did it work for you with ``2.x`` ? Or am I right that you only tried ``3.x`` ?

[2022-07-25 12:32] gotcha commented on #612
Thanks for pointing this.

Removed in https://github.com/buildout/buildout/commit/b5fc31fd63497dc536594ae8e1304f7a7345fd9e

[2022-07-25 12:32] #612 closed

[2022-07-25 12:56] me-kell commented on #611
Buildout in Windows comes with a `buildout.exe` file.

This file is also referred in https://github.com/buildout/buildout/blob/297aaa0512fd056ebd2a31521e5200e9bed43b28/src/zc/buildout/buildout.py#L1038.

I'd like to know: What is the origin of this file? Where is the source code? How it is compiled?

[2022-07-25 14:14] gotcha commented on #611
I do not use Windows.

My guess is that ``buildout.exe`` is the result of the installation by ``pip`` because of the entry point found at https://github.com/buildout/buildout/blob/b5fc31fd63497dc536594ae8e1304f7a7345fd9e/setup.py#L28

[2022-09-09 10:21] mauritsvanrees opened #613 "Error message with pip 22.2+"
I get this traceback:

[code]

Buildout *does* continue after this, so it is not fatal.

To reproduce:

[code]

Note: I also get a warning: "Requires-Python support missing", but I think that is now thrown if a package that we need to install is missing the `Requires-Python` metadata. So not something buildout can do anything about.

When I install `pip 22.1.2`, all is well again.

[2022-09-13 06:07] icemac commented on #613
I also saw this traceback but it just seems to be a warning, buildout still runs.

[2022-09-13 13:39] mauritsvanrees commented on #613
I am seeing it in tests failures targeting buildout main now too. See for example [here](https://github.com/buildout/buildout/actions/runs/3044061625/jobs/4904021394#step:5:6676), although the page is practically unreadable in my browser.
I am trying a fix in a PR.

[2022-09-13 14:03] mauritsvanrees commented on #613
I was wrong. This is a message logged by Buildout itself. It prints this when the patch fails.
So I realise the impact of the warning messages: if you use pip 22.2 or higher, then buildout does not have Requires-Python support. When run on Python 2 it will happily try to install a package that is marked as Python 3 only.
I am trying to fix it in PR #616.

[2022-09-13 14:49] mauritsvanrees opened #617 "gh-actions are run twice for PRs"
When you create a PR for the master branch, over 80 gh-actions are run. This contains duplicates.
I tried fixing this along the lines of how it is done in the [`zopefoundation` repos](https://github.com/zopefoundation/meta/issues/145#issuecomment-1127295753) but I got this error:

[2022-09-13 15:39] mgedmin commented on #617
IIRC the GHA expression language is very strict and wants string literals to only use single quotes.  This is what the working expression used for zopefoundation packages looks like:
https://github.com/zopefoundation/meta/blob/9c24f7380973de989c5132ec9f28fa71f1397f20/config/c-code/tests.yml.j2#L93
[code]

[2022-09-15 09:05] mauritsvanrees commented on #617
@mgedmin Thanks, it seems I copied an older version of that line.
I have created PR #619.

[2022-10-06 00:12] mauritsvanrees commented on #617
PR was merged.

[2022-10-06 00:12] #617 closed

[2022-10-28 14:38] reinhardt opened #620 "Recipe feature error, depending on part order"
When I use a recipe in two buildout parts, once plain and once with support for some feature, I get an error if the part with the plain usage is built first.

Workaround: If I swap the part order, or declare the feature in both parts, the error goes away.

Example buildout.cfg:

[code]

gives me:

[code]

Versions:

[code]

This works (swapped part order):

[code]

This also works (declared `gensh

[2022-10-28 21:31] mauritsvanrees commented on #620
There is [`collective.recipe.genshi`](https://pypi.org/project/collective.recipe.genshi/) as wrapper around `collective.recipe.template` to fix this. Well, to work around this. It points to a [Buildout bug in Launchpad](https://bugs.launchpad.net/zc.buildout/+bug/583752).

Reported on GitHub as well in issue #155. So I close this as a duplicate.

[2022-10-28 21:31] #620 closed

[2022-11-03 22:20] mauritsvanrees opened #621 "Support PEP 508 markers in section expressions/conditions"
Buildout currently supports section conditions like `[versions:python27]`.
It would be good if Buildout also supports the markers used in constraints files, like `python_version < "3.11" or platform_system == "Windows"`. See https://packaging.pypa.io/en/stable/markers.html

Main reason for me: this makes it much easier to create a script/package/extension that takes a pip constraints file and tran

[2022-11-05 11:18] #613 closed

[2022-11-06 22:41] #621 closed

[2022-11-07 16:06] dataflake opened #625 "zc.buildout 3.0.0 broken"
In a buildout that ran just fine yesterday with zc.buildout version 3.0.0rc3 I am now seeing the following traceback after updating to zc.buildout version 3.0.0. Nothing else has changed.

[code]

I have tried updating `packaging` to the latest release (21.3), doesn't help. There's a weird import issue going on:

[code]

[2022-11-08 12:56] leorochael commented on #625
This seems to be fixed by #624

[2022-11-08 12:57] leorochael commented on #625
`packaging.markers`, being a subpackage, is not necessarily automatically imported when importing `packaging`.

Another fix would be to `import  packaging.markers` instead of `import packaging`.

[2022-11-16 15:22] dataflake commented on #609
I am seeing issues that may at least be related.

There's a **very insidious** bug in how buildout selects a suitable package from a list of packages provided from the package index in the method `zc.buildout.easy_install._obtain` that specifically affects macOS. It took me a long time to find it.

https://github.com/buildout/buildout/blob/a8d182c25d3ff18197af3531fcf8c827b85eddbd/src/zc/buildout/e

[2022-11-29 08:13] me-kell commented on #611
From [Setuptools documentation](https://setuptools.pypa.io/en/latest/setuptools.html#automatic-script-creation):
Automatically generate wrapper scripts or Windows (console and GUI) .exe files for any number of “main” functions in your project. (Note: this is not a py2exe replacement; the .exe files rely on the local Python installation.)

[2022-11-29 08:13] #611 closed